*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#before{
  position: fixed;
  background-color: black;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 9999;

}
.logo{
    height: 5vh;
    
    
}
#loga{
    
}
.logga{
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    
    position: absolute;
    left: 10px;
    top: 0px;
    width: auto;
    
}
.logga h3{
    margin: auto;
    height: 2vh;
    margin-top: 4vh;
}
.logga p{
    padding: 0px;
    margin:0px;
    width: 50%;
    height: auto;
}
.logga p:hover{
    text-decoration: underline;
}
#butt{
    position: absolute;
    left: 0px;
    height: 10vh;
    toP: 0px;
    line-height: 10vh;
}
#sear{
    top: 8vh;
    position: absolute;
    left: 35%;
    width: 30%;
    text-align: center;
    height: 4vh;
    line-height:4vh;
    color: black;
}
header{
    height: 10vh;
    padding-top: 2vh;
    padding-left: 10px;
    
    background-size: 200% 100%;
    background-repeat: no-repeat;
    
    color: white;
    
    border-bottom: 2px solid lightgrey;
    text-align: center;
}
a:hover{
    text-decoration: none;
    color: #f48642;
}

.mt{
    font-size: 32px;
    margin-top: 10vh;
}
.header_text{
    color: grey;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 50px;
    white-space: pre-wrap;
}
.color{
    color: #f48642;
}

.result{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.imgf{
    height: 20vh;
    margin-top: 10vh;
    transition: all 0.5s;
}
.imgf:hover{
    height: 40vh;
}
.link{
    color: black;
    text-decoration: none;
    margin-left: 1vw;
    transition: all 0.4s;
}
footer{
    height: 100px;
    border-top: 1px grey solid;
    background: rgba(0,0,0,0.3);
    color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
#inf{
    margin-bottom: 12.5vh;
}
button a{
    transition: all 0.3s;
}
#e-design{
    display: none;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    .mt{
        font-size: 45px;
    }
    p{
        font-size: 20px;
    }
    #butt{
        left: 50%;
        width: 50%;
    }
    
}
@media only screen and (min-width: 770px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .logga{
        left: 22.5%;
    }
}